process.container = '192.168.3.60:5001/r-notebook-nf:x86_64-ubuntu-22.04'
docker{
    enabled = true
    runOptions = ' --add-host="master:192.168.3.60"  -v  /ssd2/software:/ssd2/software  -v /data:/data -v /data2:/data2 --user $(id -u):$(id -g) -v /ssd1/wy/workspace2/docker/passwd:/etc/passwd -v /ssd1/wy/workspace2:/ssd1/wy/workspace2   -v  /ssd1/wy/workspace2:/home/jovyan'
}
trace{
    overwrite = true
}
